
mixin app-directive(name)
    script(src='assets/js/app/directives/directive-'+name+'.js', defer)

mixin app-controller(name)
    script(src='assets/js/app/controllers/controller-'+name+'.js', defer)

mixin app-service(name)
    script(src='assets/js/app/services/service-'+name+'.js', defer)

mixin app-filter(name)
    script(src='assets/js/app/filters/filter-'+name+'.js', defer)

mixin app-module(name)
    script(src='assets/js/app/modules/module-'+name+'.js', defer)