
article.transactions

    transaction-list.transactions-ok(state="state.ok", animate="true")
    transaction-list.transactions-sketchy(state="state.sketchy.sms")
    //- transaction-list(state="state.sketchy.sms")
    transaction-list.transactions-fraud(state="state.fraud", animate="true")
