
article.transaction-list.transaction-list-sketchy
    h1 {{ state.label }}
    h2 {{ state.stats.count }}

    ul: li.transaction-list-item(
        ng-class="{fallanimation:animate}"
        ng-repeat="(id, transaction) in state.transactions")
        a(ng-href="https://sandbox.feedzai.com/dash#payment/{{ transaction.data.id }}/0", target="_blank")
            em.data-name
                | {{ transaction.data.user_email }}
            .data-ip
                | {{ transaction.data.ip }}
            .unverified(ng-if="transaction.status == 'unverified'")
                i.icon-circled-help
                    | Waiting on verification information from customer...
