
include mixins/asset-mixins
include mixins/asset-mixins-angular


!!!
html(ng-app="money2020.bacon")

  head
    title Bacon App

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")

    block top-scripts
      mixin js-lib("jquery")
      mixin js-lib("angular")
      mixin js-lib("matter")
      mixin js-lib("jquery.box2d")

  body

    header
      h1 Bacon {{ route.current.template }}

    main(ng-view)

    block bottom-scripts
      mixin js-lib("lodash")

      mixin js-lib("angular.route")
      mixin js-lib("angular.animate")
      mixin js-lib("angular.promisetracker")

      mixin app-core("modules/utils/module-utils-function")
      mixin app-core("modules/utils/module-utils-object")
      mixin app-core("modules/utils/module-utils")
      mixin app-core("modules/module-transactions")
      mixin app-core("modules/module-auth")

      mixin app-core("app")
      mixin app-core("router")
