
.view.view-auth-sms

    h1 Identitfy Verification Required (Social Media)

    p.auth-warning
        | Sorry, but you tripped up our fancy fraud algorithm and
        | we need to verify your identity.

    p.auth-method
        | We've sent you an SMS message. Please reply "YES" to
        | confirm your purchase.

    p.waiting
        .loading-spinner
        | waiting for verification
