

.view.view-auth-sms

    h1 Identitfy Verification Required

    p.auth-warning
        | Sorry, but you startled our fancy fraud algorithm.
        | We need to verify your identity before we can proceed.

    p.auth-method
        | We've sent you an SMS message. Please reply "YES" to
        | confirm your purchase.

    p.waiting
        .loading-spinner
        | waiting for verification
