
.animation-fade {
    &.ng-enter, &.ng-leave {
        @include transition(all .33s cubic-bezier(0.694, 0.0482, 0.335, 1));
    }

    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        opacity: 1;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}


.repeated-item.ng-enter, .repeated-item.ng-move {
 -webkit-transition:0.5s linear all;
 -moz-transition:0.5s linear all;
 -o-transition:0.5s linear all;
 transition:0.5s linear all;
 opacity:0;
}

/*
The ng-enter-active and ng-move-active
are where the transition destination properties
are set so that the animation knows what to
animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
 opacity:1;
}

/*
 We're using CSS keyframe animations for when
 the leave event is triggered for the element
 that has the .repeated-item class
*/
.repeated-item.ng-leave {
 -webkit-animation:0.5s my_animation;
 -moz-animation:0.5s my_animation;
 -o-animation:0.5s my_animation;
 animation:0.5s my_animation;
}

@keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

/*
 Unfortunately each browser vendor requires
 its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-moz-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-o-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}


.animation-slide-down {
    &.ng-enter, &.ng-leave {
        @include transition(all .22s cubic-bezier(0.694, 0.0482, 0.335, 1));
    }

    &.ng-enter {
        @include transform(translate(0, -100%));
        &.ng-enter-active {
            @include transform(translate(0, 0));
        }
    }

    &.ng-leave {
        @include transform(translate(0, 0));
        &.ng-leave-active {
            @include transform(translate(0, -100%));
        }
    }
}

.animation-slide-bottomleft {
    &.ng-enter, &.ng-leave {
        @include transition(all .22s cubic-bezier(0.694, 0.0482, 0.335, 1));
    }

    &.ng-enter {
        opacity: 0;
        @include transform(translate(0, -10px));
        &.ng-enter-active {
            opacity: 1;
            @include transform(translate(0px, 0px));
            // @include transform(translate(0, 0));
        }
    }

    &.ng-leave {
        opacity: 1;
        // @include transform(translate(0, 0));
        @include transform(translate(0px, 0px));
        &.ng-leave-active {
            opacity: 0;
            // @include transform(translate(-10px, 10px));
            @include transform(translate(0, 10px));
        }
    }
}
